* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: white;
   text-decoration: none;
   padding: 20px;
}

#enlace_distint {
   color: green;
}

.img-principal {
   background-image: url(../assets/img/hawaii.jpg);
   background-color: rgb(62, 63, 63);
   background-blend-mode: soft-light;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

p {
   width: 100%;
   padding: 15px 0;
}

 .card img {
   width: 100%;
}
